.size-info {
  text-align: center;

  span:nth-child(1) {
    color: var(--app-resistance-color);
    font-size: 1.5em;
  }

  span:nth-child(2) {
    color: var(--app-spies-color);
    font-size: 1.5em;
  }
}

.score {
  font-size: 3em;
  text-align: center;
}

.result-card {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  font-size: 20px;
}